.container-mega {
    height: 100vh;
    width: 100vw;
    background-color: #001632;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-list {
    width: 300px;
}

h1 {
    color: #808a99;
    text-align: center;
    font-size: 3rem;
}

li {
    cursor: pointer;
}

.barred {
    text-decoration: line-through;
}